{% extends 'blog/base.html' %}
{%load static%}
{% block title %}Sign Up{% endblock %}

{% block content %}
<style>
input{
  width: 100%;
}


.content {
    height: auto;
    margin-left : 0px;
}

.form-group{
    padding : 10px;
    height : auto;  
    margin-right : auto;
    overflow : auto;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #000000;
    /*background-repeat: no-repeat;
    background-size: auto;
    background-image: url( "{% static 'assets/loginp.png' %}");
    */    
     background-color :white;
   
}

.form-gorup p{
   margin: 0 0 5px;
}
/*
body {
       background-image: url( "{% static 'assets/login.jpg' %}") ;  
       background-repeat : no-repeat;   
       height : auto;
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       background-size: cover; 
}
*/
.form-group h2 {
  margin-bottom : 20px;
}

.helptext{
  color : blue;
}


.error-message {
    color : red;
    margin-left : 35px;
}

.errorlist {
    color : red;
}

label {
    margin : 5px;
}

ul{
  color : blue;
}

.signup-form {
    margin-left : 20px;
}



#footer {
    
    font-size: 28px;
    margin-top: auto;
    background-color: black;
    width: 100%;
    position:static;
    


}

</style>
<div class='container-fluid'>
  <div class="row justify-content-center">
    <div class="form-group col-md-7 col-md-offset-7 align-center">

  <!--<div class="form-group col-md-7 col-md-offset-7 align-center">-->
  <h2 class='text-center'>Sign Up</h2>
  <form method="post" class='signup-form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary"Aman>Sign up</button>
  </form>
  </div>
  </div>
</div>
{% endblock %}