{% extends 'blog/base.html' %}
{%load static%}
{% block title %}Sign Up{% endblock %}

{% block content %}
<style>
.form-group{
    padding : 10px;
    height : auto;  
    margin-right : 10%;
    margin-top : 15%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #000000;
    /*background-repeat: no-repeat;
    background-size: auto;
    background-image: url( "{% static 'assets/loginp.png' %}");
    */    
     background-color :white;
}

.form-gorup p{
   margin: 0 0 5px;
}

body {
       background-image: url( "{% static 'assets/login.jpg' %}");    
       height: auto;
      background-repeat : no-repeat;   

       
}

.form-group h2 {
  margin-bottom : 20px;
}
.error-message {
    color : red;
    margin-left : 35px;
}

.errorlist {
    color : red;
}

.content {
    
        height : 78%;
}

label {
    margin : 5px;
}

.helptext{
  visibility : hidden;
}

ul{
  color : blue;
}

.signup-form {
    margin-left : 20px;
}

</style>

  <div class="row justify-content-center">
  
  <div class="form-group col-md-7 col-md-offset-7 align-center">
  <h2 class='text-center'>Sign Up</h2>
  <form method="post" class='signup-form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
  </div>
  </div>

{% endblock %}