
{% extends "blog/base.html" %}
{%load static%}
{% block content %}
<style>


.form-group{
     padding : 10px;
    height : auto;  
    margin-right : auto;
    margin-top : 15%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #000000;
    /*background-repeat: no-repeat;
    background-size: auto;
    background-image: url( "{% static 'assets/loginp.png' %}");
    */    
    background-color :white;
    position: relative;

}

.login-form {
    margin : 20 20 20 20px;
}

.form-group p{

   margin: 0 0 18px;

}

body {

       background-image: url( "{% static 'assets/login.jpg' %}") ;  
       background-repeat : no-repeat;   
       height : auto;
       display: flex;
  flex-direction: column;
  min-height: 100vh;
         background-size: cover; 

}



.error-message {
    color : red;
    margin-left : 35px;
}

.errorlist {
    color : red;
}

label {
    margin : 5px;
}

.signup-button {
    margin : 15px;
}

#footer {
    font-size: 28px;
    margin-top: auto;
    background-color: black;
    width: 100%;
    margin-top: auto;


}

</style>


<div class='container-fluid'>

  <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-7 align-center">
    <h1 class ="text-center">Login</h1> 
    {% if form.errors %}
        <p class='error-message'>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form method="post" class='login-form' action="{% url 'login' %}">
    {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <form action="{% url 'signup'%}">
    <p class='signup-button'>Don't Have an Account <input type="submit" class="btn btn-outline-primary" value="Signup" /> Here</p>
    </form>
 
  </div>  
    </div>
 </div>
  
{% endblock %}
