{% extends 'blog/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}
{%load static%}

{% block content %}
<style>
.content {
    height: 100%;
    margin-left : 0px;
}

.form-group{
     padding : 10px;
    height : auto;  
    margin-right : auto;
    margin-top : 15%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #000000;  
    background-color :white;
    position: relative;

}
input{
  width: 100%;
}



.form-group p{

   margin: 0 0 18px;

}


.error-message {
    color : red;
    margin-left : 35px;
}

.errorlist {
    color : red;
}

label {
    margin : 5px;
}


#footer {
    font-size: 28px;
    margin-top: auto;
    background-color: black;
    width: 100%;
    
}

</style>
<div class='container-fluid'>

  <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-7 align-center">
    <h1 class ="text-center">Forgot your password?</h1> 
    <p class="text-center">Enter your email address below, and we'll email instructions for setting a new password.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-info" value="Send me instructions!">
  </form>

  </div>
  </div>
  </div>
{% endblock %}