{% extends 'blog/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}
{%load static%}

{% block content %}
<style>
.content {
    height: 100%;
    margin-left : 0px;
}

.form-group{
     padding : 10px;
    height : auto;  
    margin-right : auto;
    margin-top : 15%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #000000;  
    background-color :white;
    position: relative;

}
input{
  width: 100%;
}



.form-group p{

   margin: 0 0 18px;

}


.error-message {
    color : red;
    margin-left : 35px;
}

.errorlist {
    color : red;
}

label {
    margin : 5px;
}


#footer {
    font-size: 28px;
    margin-top: auto;
    background-color: black;
    width: 100%;
    
}

</style>
<div class='container-fluid'>

  <div class="row justify-content-center">
  <div class="form-group col-md-7 col-md-offset-7 align-center">
    <h1 class ="text-center">Reset Password</h1> 
    {% if validlink %}
    <p class="text-center">Please enter your new password Twice !.. <br> Make Sure you are satisfying the criteria</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}

  </div>
  </div>
  </div>
{% endblock %}