{% extends 'blog/base.html' %}
{% block content %}
<style>

    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;      
        min-height: 100vh;
         
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #000000;
        padding : 15px;
        margin-bottom : 15px;
        background-color: white;
    }
 .row{
     margin-right: -20px;
    margin-left: -40px;
 }           
</style>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_lists %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title | safe }}</a></h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.published_date}} | ({{post.post_views}} Views) </p>
                    <p class="card-text">{{post.text| safe | slice:":200" }}</p>
                    <p><a href="{% url 'post_detail' pk=post.pk%}" class="btn btn-primary">Read More &rarr;</a>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a></p>
                                   
                </div>
            </div>
            {% endfor %}
            {% if post_lists.has_other_pages %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-end" style="box-shadow: 0 16px 48px #000000;">
    {% if post_lists.has_previous %}
    <li><a href="?page={{ post_lists.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if post_lists.has_next %}
    <li><a href="?page={{ post_lists.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
        </div>
    </div>
</div>

 
{% endblock %}           

