{% extends 'blog/base.html' %}
{% block content %}
<style>

.card-body{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  padding : 20px;
  margin:10px;
  
  
}
.shadow a{
    padding:10px;
    margin : 10px;
}
.text-muted {
   font-size:18px;
}
.card-text{
    font-size:22px;
}
.comment {
    margin: 20px 0px 20px 20px;
}

.form-group {
    <!--background-image: linear-gradient( 109.6deg,  rgba(101,58,150,1) 29.9%, rgba(168,141,194,1) 99.9% );
     background-repeat: no-repeat;
     background-size :100%;-->
    padding : 20px;
    background: url('/static/assets/form.jpg');  
    background-size : 100%; 
    height : fit;
    color:black;
    box-shadow:         20px 20px 50px 15px grey;
    margin-left:10px;
    
}

.form-group h1{
    text-align :center;
    margin-bottom : 5px;
    padding:5px;
}

.form-group .save {
    margin-left : 50px;
}
.form-group {
    <!--background-image: linear-gradient( 109.6deg,  rgba(101,58,150,1) 29.9%, rgba(168,141,194,1) 99.9% );
     background-repeat: no-repeat;
     background-size :100%;-->
    padding : 20px;
    background: url('/static/assets/form.jpg');  
    background-size : 100%; 
    margin-top : 75px;
    color:black;
    box-shadow:         20px 20px 50px 15px grey;
    
    
}

.form-group h1{
    text-align :center;
    margin-bottom : 5px;
    padding:5px;
}

.form-group .save {
    margin-left : 50px;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9 card mb-4 mt-3 left top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        {% if user.is_authenticated %}
        {%if user.id == post.author.id%} 
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
       {%endif%}
        {%endif%}
        <div class= "shadow p-3 mb-5 bg-white rounded">
        <p class=" text-muted">{{ post.author }} |
        {% if post.published_date %} {{ post.published_date }}
        {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-floppy-saved"></span>Publish</a>
        {%endif%}
        <p class="card-text ">{{ post.text | safe }}</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<hr>
{% for comment in post.comments.all %}
    <div class="comment">
    {% if user.is_authenticated or comment.approved_comment %}
        
        {% if not comment.approved_comment %}
        {%if user.id == post.author.id%} 
        <a class="btn btn-warning" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>Remove It.</a>
        <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span>Approve (:</a>
        {% endif %}
        {% endif %}
        
    
        <strong>{{ comment.author }} | {{ comment.created_date }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
     
    </div>

    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% if user.is_authenticated %}
 <div class="row justify-content-left">
  <div class="form-group col-md-7 col-md-offset-5 align-left">
  <div class="comment-form">
    <h1>Add Commment</h1>
    <form method="POST" class="post-form">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-danger">Post Comment</button>
    </form>
    </div>  
    </div>
    </div>
  
{%endif%}
{% endblock content %}
