body {
    padding-left: 0px;
    font-family: 'Lato', sans-serif;
}

.navbar {
    color: white;
    padding: 20px;
    background-color: rgb(33, 129, 100);
    margin-bottom: 0px;
}

.navbar-light .navbar-nav li {
    font-size: 24px;
}

.navbar-light .navbar-nav a {
    color: rgb(252, 248, 248);
    font-size: 24px;
}

.navbar .navbar-brand {
    color: white;
    font-size: 38px;
}


.content {
    margin-left: 40px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

.date {
    color: #828282;
}